cmake
dlib
face-recognition-models
face-recognition
fastapi
uvicorn
numpy
sqlalchemy
pymysql
cryptography
python-multipart
opencv-python-headless
python-dotenv
google-generativeai
psycopg2-binary
gunicorn
