fastapi
uvicorn
numpy
sqlalchemy
pymysql
cryptography
python-multipart
opencv-python-headless
python-dotenv
google-generativeai
psycopg2-binary
gunicorn
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models.git
face_recognition
